*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/.kotlin/errors/errors-1778918103167.log
/.kotlin/errors/errors-1778918161177.log
/.kotlin/errors/errors-1778918201579.log
/.kotlin/errors/errors-1778918273300.log
/.kotlin/errors/errors-1778918287478.log
/.kotlin/errors/errors-1778918407935.log
/.kotlin/errors/errors-1778919225183.log
/.kotlin/errors/errors-1778919237128.log
/.kotlin/errors/errors-1778919258250.log
